main {
	margin-top:65px;
	
	//Categories over popular products
	.card-title{
		a {
			text-transform: uppercase;
			color: $orange-color;

			&:hover, &:active {
				color: darken($orange-color, 10%);
				text-decoration: underline;
			}
		}
		@include padding(10px null 10px null);
	}

	.popular-products-title {
		overflow: hidden;
    	text-align: center;
    	&:before, &:after {
    		background-color: $grey-color;
		    content: "";
		    display: inline-block;
		    height: 1px;
		    position: relative;
		    vertical-align: middle;
		    width: 10%;
    	}
		&:before {
			right: 0.5em;
    		margin-left: -50%;
		}
		&:after {
			left: 0.5em;
    		margin-right: -50%;
		}
	}
	
	//Product
	.product {
		//stars
		.product-rating {
			position: absolute;
			padding:10px;
			i {
				color: $orange-color;
				width: 16px;

				&:hover, &:active {
					color: $grey-color;
					cursor: pointer;
				}
			}
		}

		//Content
		.card-content {
			border: 1px solid $grey-color;
		    padding: 0px;
			
			img{
				border-top: 1px solid $grey-color;
				padding: 20px;
			}
		    p {
		    	border-top: 1px solid $grey-color;
		    	@include padding(20px 10px 20px 10px);
		    }
		}
		
		.product-info {
			border-top: 1px solid $grey-color;
			@include margin(null 20px null 10px);
			@include padding(10px null 15px null);

			.product-price {
				color: $orange-color;
			}

			.product-favorite {
				i {
					cursor:pointer;
				}
			}

		}

		//Buy now - popular products
		.card-action{
			a {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 0px;
				background-color: $orange-color;
			}
		}
	}
}